body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: navy;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: rgb(209, 87, 87);
}

li {
  list-style: none;
}
